.container {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

h2 {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #393E46;
}

.one {
  text-align: left;
  color: #4ECCA3;
}

.d {
  text-align: center;
  color: yellowgreen;

}

.two {
  text-align: right;
  color: #4ECCA3;
}

button {
  width: 8rem;
  height: 2rem;
  background-color: #4ECCA3;
  color: white;
  text-shadow: #393E46;
  margin-bottom: 3rem;
}

button:hover {
  background-color: #ac0505;
}

.bttn {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.images-block {
  display: flex;
  justify-content: space-around
}

h2 {
  font-family: cursive;
  text-shadow: 4px 0 #232931;
  font-size: 4rem;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


#myButton {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  /*transition: background-color 0.3s ease; /* Adding transition for smooth animation */
}

/* Animation class */
.animated {
  animation: shake 0.5s;
  /* Example animation */
}

.animated2 {
  animation: shak 0.5s;
  /* Example animation */
}

@keyframes shak {
  0% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(40px);
  }

  50% {
    transform: translateX(-40px);
  }

  75% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-40px);
  }

  50% {
    transform: translateX(40px);
  }

  75% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0);
  }
}
