.container {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

h2 {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #393E46;
}

.one {
  text-align: left;
  color: #4ECCA3;
}

.d {
  text-align: center;
  color: #ac0505;

}

.two {
  text-align: right;
  color: #4ECCA3;
}

button {
  width: 8rem;
  height: 2rem;
  background-color: #4ECCA3;
  color: white;
  text-shadow: #393E46;
}

button:hover {
  background-color: #ac0505;
}

.bttn {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h2 {
  font-family: cursive;
  text-shadow: 4px 0 #232931;
  font-size: 4rem;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}